@model MvcDemo.Model.Entities.Cliente
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>

<script>
     $(document).ready(function () {
         $.ajaxSetup({ cache: false }); // No Cache on Jquery
        
         $(function () {
             $('#dvLoading').hide();
             $("#dvFormularioDelete").hide();
             $("#dvFormSaveOrUpdate").hide();
         });

         // Load Partail View with the Table/TR/TD
         fnLoadPagePartialView();
         ////////////////////////////////////////////////////

         function fnLoadPagePartialView() {
             url = '@Url.Action("IndexPartial")';

             $("#dvLoading").slideDown("fast").text("Loading...");

             // Animate
             $(function () { $('#viewPartial').fadeOut('normal'); });

             $('#viewPartial').load(url, null, function (html) {
                 $('#viewPartial').html(html);
                 // Animate
                 $(function () { $('#viewPartial').fadeIn('normal'); });

                 $("#dvLoading").slideUp("slow", function () { $(this).text(""); });
             });
         }
  });
  </script>

@Html.MvcSiteMap().SiteMapPath() @*Breadcrumb Trail: *@
<div id="dvFormSaveOrUpdate" title="Adicionar novo cliente">
  <p class="validateTips">All form fields are required.</p>
 
 <form method="post">
    <fieldset>
        <legend>Cliente</legend>
        <input type="hidden" value="" id="Action" />
        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @*@Html.ValidationMessageFor(model => model.Nome)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Endereco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Endereco)
            @*@Html.ValidationMessageFor(model => model.Endereco)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @*@Html.ValidationMessageFor(model => model.Email)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Idade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Idade)
            @*@Html.ValidationMessageFor(model => model.Idade)*@
        </div>
    </fieldset>
    </form>
</div>

<div id="dvLoading"></div>
<div id="viewPartial"></div> 

<div id="dvDetails" title="Detalhe dos cliente"></div>

<div id="dvFormularioDelete" title="Exclusao de cliente">
<input type="hidden" value="" id="UrlActionToDelete" />
<h1>Are you sure you want to delete this?</h1>

</div>

<button id="addNovoCliente">Adicionar Novo Cliente</button>